<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item (click)="logout()">
                <mat-icon>reply</mat-icon>
                logout
            </a>
            <a mat-list-item *ngIf="baby !== null" (click)="removeBaby()">
                <mat-icon>clear</mat-icon>
                remove baby {{baby.name}}
            </a>

            <a mat-list-item *ngIf="showNewParent()" (click)="setSelectingNewParent(true)">
                <mat-icon>person</mat-icon>
                select other parent
            </a>
            <div *ngIf="selectingNewParent" class="ion-padding">
                <mat-label>
                    <ion-icon name="email"></ion-icon>
                    New Parent's email
                </mat-label>
                <input matInput type="email" [(ngModel)]="newParentsEmail" placeholder="Ex: myeamil@domain.com">
                <div class="row">
                    <button mat-raised-button (click)="setSelectingNewParent(false)">Cancel</button>
                    <button mat-raised-button color="primary" (click)="setNewParent()">
                        Ok
                    </button>
                </div>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Baby Tracker</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="doRefresh()">
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-toolbar>
        <div *ngIf="baby === null" class="ion-padding">
            <div>
                <mat-label class="mat-title">
                    Add a baby to get started or ask someone to add you as a parent
                </mat-label>
                <br>
                <button mat-fab color="primary" (click)="openDialog()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <app-track-tabs *ngIf="baby !== null" [baby]="baby"></app-track-tabs>

    </mat-sidenav-content>
</mat-sidenav-container>
