<form [formGroup]="feedForm" novalidate>
    <mat-card>
        <mat-card-content>
            <div class="simple-row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Start Date</mat-label>
                        <input formControlName="startDate" matInput [matDatepicker]="startDatePicker">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #startDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-label>Start Time</mat-label>
                    <input formControlName="startTime" [ngxTimepicker]="startTimePicker" readonly>
                    <ngx-material-timepicker #startTimePicker></ngx-material-timepicker>
                </div>
            </div>
            <div class="simple-row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>End Date</mat-label>
                        <input formControlName="endDate" matInput [matDatepicker]="endDatePicker">
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #endDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-label>End Time</mat-label>
                    <input formControlName="endTime" [ngxTimepicker]="endTimePicker" readonly>
                    <ngx-material-timepicker #endTimePicker></ngx-material-timepicker>
                </div>
            </div>
            <div class="simple-row ion-padding-start">
                <mat-form-field class="full-width">
                    <mat-label>
                        Amount (ml)
                    </mat-label>
                    <input formControlName="amount" type="number" matInput>
                </mat-form-field>
            </div>
        </mat-card-content>

        <mat-card-actions class="ion-padding-start">
            <div class="simple-row">
                <button mat-raised-button (click)="onCancel()">Cancel</button>
                <button mat-raised-button color="primary" [disabled]="feedForm.status==='INVALID'" (click)="onSubmit()">
                    Ok
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</form>