<div class="ion-padding">
    <div class="summary">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Summary</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <ion-row>
                                <strong>
                                    Today
                                </strong>
                            </ion-row>
                            <ion-row>
                                Amount {{summary.amountToday}} ml
                            </ion-row>
                            <ion-row>
                                Duration {{summary.durationToday}} min
                            </ion-row>
                        </ion-col>
                        <ion-col>
                            <ion-row>
                                <strong>
                                    Last 24 hours
                                </strong>
                            </ion-row>
                            <ion-row>
                                Amount {{summary.amount24h}} ml
                            </ion-row>
                            <ion-row>
                                Duration {{summary.duration24h}} min
                            </ion-row>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="d-flex">
        <mat-form-field appearance="fill">
            <mat-label>Days To Analyze</mat-label>
            <mat-select [(ngModel)]="dateRangeSelected" (ngModelChange)="onRangeChanged()">
                <mat-option *ngFor="let option of dateRangeOptions" [value]="option.value">
                    {{option.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <app-bar-chart [dataSets]="[amountDataSet]" [labels]="amountLabels" unit="ml"></app-bar-chart>
    <app-bar-chart [dataSets]="[durationDataSet]" [labels]="durationLabels" unit="min"></app-bar-chart>
</div>
