.floatingbr {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.end-button {
  flex: 0;
}

.row-padding {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 8px 22px 15px 22px;
}

.row-div {
  flex: 1;
  width: 100%;
}

.date-group {
  width: 100%;
  font-weight: bold;
  background: #673ab75c;
  padding: 3px 8px;
}

.last-feeding-padding {
  width: 100%;
  font-weight: bold;
  background: #3ccdf870;
  padding: 3px 8px;
}
