<mat-list>
    <div class="mat-body-strong last-feeding-padding">{{getLastFeedingTime()}}</div>
    <div *ngFor="let feed of feeds;let i=index;">
        <div *ngIf="i === 0 || this.dtt.humanizeDate(feed.startAt) !==  this.dtt.humanizeDate(feeds[i - 1].startAt)"
             class="date-group"
        >
            {{this.dtt.humanizeDate(feed.startAt)}}
        </div>
        <div class="row-padding" >
            <div *ngIf="feed.id===editingFeed">
                <app-feed-dialog
                    [onCancel]="clearEditingFeed.bind(this)"
                    [onOk]="feedEvent.bind(this)"
                    [onRemove]="onRemove.bind(this)"
                    [feed]="feed"
                    [baby]="baby"
                ></app-feed-dialog>
            </div>
            <div *ngIf="feed.id!==editingFeed" (click)="editingFeed=feed.id" class="row-div">
                <div *ngIf="feed.endAt !== null" mat-line>{{dtt.humanizeTime(feed.startAt)}} - {{dtt.dateDiffMinutes(feed)}}
                    min
                </div>
                <div *ngIf="feed.endAt === null" mat-line>{{dtt.humanizeTime(feed.startAt)}}</div>
                <div mat-line> {{feed.amount}} ml</div>
            </div>
            <button *ngIf="feed.endAt == null && feed.id!==editingFeed" class="end-button"
                    mat-stroked-button (click)="endFeeding(feed)">End
            </button>
        </div>
    </div>
    <button mat-fab color="primary" aria-label="Example icon button with a home icon" class="floatingbr"
            (click)="addEmptyFeed()" [disabled]="editingFeed !== null">
        <mat-icon>add</mat-icon>
    </button>
</mat-list>
