<mat-tab-group class="tab-main" color="primary" backgroundColor="primary">
  <mat-tab>
    <ng-template mat-tab-label>
      <ion-icon class="tab-icon" name="list"></ion-icon>
      Track
    </ng-template>
    <app-track-feed [baby]="baby"></app-track-feed>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <ion-icon class="tab-icon" name="analytics"></ion-icon>
      Analytics
    </ng-template>
    <ng-template matTabContent>
      <app-analytics-feed [baby]="baby"></app-analytics-feed>
    </ng-template>
  </mat-tab>
</mat-tab-group>
